In [89]:
import numpy as np
import pandas as pd

In [90]:
df=pd.read_csv(r"C:\Users\mohdk\OneDrive\Desktop\Crime\crime.csv",encoding="latin1")

In [91]:
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,STREET,Lat,Long,NAME
0,I182070945,619,Larceny,D14,808,02-09-2018 13:00,LINCOLN ST,42.357791,-71.139371,LARCENY OTHER $200 & OVER
1,I182070885,619,Larceny,B3,456,03-09-2018 17:17,ELLINGTON ST,42.301546,-71.081182,LARCENY OTHER $200 & OVER
2,I182070816,619,Larceny,C6,185,03-09-2018 12:45,MASSACHUSETTS AVE,42.321987,-71.062807,LARCENY OTHER $200 & OVER
3,I182070777,619,Larceny,C11,388,23-08-2018 13:34,ADAMS ST,42.272306,-71.067214,LARCENY OTHER $200 & OVER
4,I182070707,619,Larceny,D14,782,02-09-2018 23:12,GORDON ST,42.352935,-71.140501,LARCENY OTHER $200 & OVER
...,...,...,...,...,...,...,...,...,...,...
313632,I130126035-00,338,Robbery,C11,252,09-02-2016 13:55,SAVIN HILL AV,NaN,NaN,ROBBERY - UNARMED - RESIDENCE
313633,I130041200-00,547,Burglary - No Property Taken,B3,428,07-12-2015 11:38,DIXWELL ST,42.314334,-71.097914,B&E NON-RESIDENCE DAY - NO PROP TAKEN
313634,I120720047-00,334,Robbery,E13,565,17-07-2015 09:23,NaN,NaN,NaN,ROBBERY - UNARMED - BUSINESS
313635,I120719309-00,530,Commercial Burglary,A1,119,27-07-2015 12:00,BOYLSTON ST,42.352418,-71.065255,B&E NON-RESIDENCE NIGHT - FORCE
313636,I060168073-00,1864,Drug Violation,E13,912,27-01-2018 14:01,CENTRE ST,42.322838,-71.100967,DRUGS - POSS CLASS D - INTENT MFR DIST DISP

In [92]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,STREET,Lat,Long,NAME
0,I182070945,619,Larceny,D14,808,02-09-2018 13:00,LINCOLN ST,42.357791,-71.139371,LARCENY OTHER $200 & OVER
1,I182070885,619,Larceny,B3,456,03-09-2018 17:17,ELLINGTON ST,42.301546,-71.081182,LARCENY OTHER $200 & OVER
2,I182070816,619,Larceny,C6,185,03-09-2018 12:45,MASSACHUSETTS AVE,42.321987,-71.062807,LARCENY OTHER $200 & OVER
3,I182070777,619,Larceny,C11,388,23-08-2018 13:34,ADAMS ST,42.272306,-71.067214,LARCENY OTHER $200 & OVER
4,I182070707,619,Larceny,D14,782,02-09-2018 23:12,GORDON ST,42.352935,-71.140501,LARCENY OTHER $200 & OVER

In [93]:
df.tail()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,OCCURRED_ON_DATE,STREET,Lat,Long,NAME
313632,I130126035-00,338,Robbery,C11,252,09-02-2016 13:55,SAVIN HILL AV,NaN,NaN,ROBBERY - UNARMED - RESIDENCE
313633,I130041200-00,547,Burglary - No Property Taken,B3,428,07-12-2015 11:38,DIXWELL ST,42.314334,-71.097914,B&E NON-RESIDENCE DAY - NO PROP TAKEN
313634,I120720047-00,334,Robbery,E13,565,17-07-2015 09:23,NaN,NaN,NaN,ROBBERY - UNARMED - BUSINESS
313635,I120719309-00,530,Commercial Burglary,A1,119,27-07-2015 12:00,BOYLSTON ST,42.352418,-71.065255,B&E NON-RESIDENCE NIGHT - FORCE
313636,I060168073-00,1864,Drug Violation,E13,912,27-01-2018 14:01,CENTRE ST,42.322838,-71.100967,DRUGS - POSS CLASS D - INTENT MFR DIST DISP

In [94]:
df.describe()

        OFFENSE_CODE            Lat           Long
count  313637.000000  294277.000000  294277.000000
mean     2311.675711      42.215471     -70.909961
std      1192.924585       2.149385       3.476820
min       111.000000      -1.000000     -71.178674
25%       802.000000      42.297466     -71.097158
50%      3002.000000      42.325600     -71.077526
75%      3201.000000      42.348624     -71.062467
max      3831.000000      42.395042      -1.000000

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313637 entries, 0 to 313636
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   INCIDENT_NUMBER     313637 non-null  object
 1   OFFENSE_CODE        313637 non-null  int64
 2   OFFENSE_CODE_GROUP  313637 non-null  object
 3   DISTRICT            311929 non-null  object
 4   REPORTING_AREA      313637 non-null  object
 5   OCCURRED_ON_DATE    313637 non-null  object
 6   STREET              303132 non-null  object
 7   Lat                 294277 non-null  float64
 8   Long                294277 non-null  float64
 9   NAME                313637 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 23.9+ MB

In [96]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'DISTRICT',
       'REPORTING_AREA', 'OCCURRED_ON_DATE', 'STREET', 'Lat', 'Long', 'NAME'],
      dtype='object')

In [97]:
df.index

RangeIndex(start=0, stop=313637, step=1)

In [98]:
df.size

3136370

In [99]:
df.shape

(313637, 10)

In [100]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA            0
OCCURRED_ON_DATE          0
STREET                10505
Lat                   19360
Long                  19360
NAME                      0
dtype: int64

In [101]:
df["REPORTING_AREA"]=df["REPORTING_AREA"].replace(" ",np.nan)
df["REPORTING_AREA"]=df["REPORTING_AREA"].replace("0",np.nan)

In [102]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        19614
OCCURRED_ON_DATE          0
STREET                10505
Lat                   19360
Long                  19360
NAME                      0
dtype: int64

In [103]:
dup=df[df.duplicated()]
dup.to_csv("Duplicate.csv",index=False)
df.drop_duplicates(inplace=True)

In [104]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        19614
OCCURRED_ON_DATE          0
STREET                10505
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [105]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'DISTRICT',
       'REPORTING_AREA', 'OCCURRED_ON_DATE', 'STREET', 'Lat', 'Long', 'NAME'],
      dtype='object')

In [106]:
df["STREET"]

0                LINCOLN ST
1              ELLINGTON ST
2         MASSACHUSETTS AVE
3                  ADAMS ST
4                 GORDON ST
                ...
313632        SAVIN HILL AV
313633           DIXWELL ST
313634                  NaN
313635          BOYLSTON ST
313636            CENTRE ST
Name: STREET, Length: 313605, dtype: object

In [107]:
street_map = (
    df.dropna(subset=["STREET", "Lat", "Long"])
      .groupby(["Lat", "Long"])["STREET"]
      .agg(lambda x: x.value_counts().idxmax())
)


mask = df["STREET"].isna() & df["Lat"].notna() & df["Long"].notna()

df.loc[mask, "STREET"] = df.loc[mask].set_index(["Lat", "Long"]).index.map(street_map)

In [108]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        19614
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [109]:
reporting_map = (
    df.dropna(subset=["STREET", "REPORTING_AREA"])
      .groupby("STREET")["REPORTING_AREA"]
      .agg(lambda x: x.value_counts().idxmax())
)
mask = df["REPORTING_AREA"].isna() & df["STREET"].notna()


df.loc[mask, "REPORTING_AREA"] = df.loc[mask, "STREET"].map(reporting_map)

In [110]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1708
REPORTING_AREA        10835
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [111]:

district_map = (
    df.dropna(subset=["REPORTING_AREA", "DISTRICT"])
      .groupby("REPORTING_AREA")["DISTRICT"]
      .agg(lambda x: x.value_counts().idxmax())
)

mask = df["DISTRICT"].isna() & df["REPORTING_AREA"].notna()

df.loc[mask, "DISTRICT"] = df.loc[mask, "REPORTING_AREA"].map(district_map)

In [112]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1509
REPORTING_AREA        10835
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [113]:
reporting_map = (
    df.dropna(subset=["REPORTING_AREA", "Lat", "Long"])
      .groupby(["Lat", "Long"])["REPORTING_AREA"]
      .agg(lambda x: x.mode()[0])
)
mask = (
    df["REPORTING_AREA"].isna() &
    df["Lat"].notna() &
    df["Long"].notna()
)

df.loc[mask, "REPORTING_AREA"] = (
    df.loc[mask]
      .set_index(["Lat", "Long"])
      .index.map(reporting_map)
)

In [114]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1509
REPORTING_AREA        10275
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [115]:
# Filling Null Values of District Using Lat and long

In [116]:
district_map = (
    df.dropna(subset=["DISTRICT", "Lat", "Long"])
      .groupby(["Lat", "Long"])["DISTRICT"]
      .agg(lambda x: x.mode()[0])
)

mask = (
    df["DISTRICT"].isna() &
    df["Lat"].notna() &
    df["Long"].notna()
)

df.loc[mask, "DISTRICT"] = (
    df.loc[mask]
      .set_index(["Lat", "Long"])
      .index.map(district_map)
)

In [117]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1006
REPORTING_AREA        10275
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [118]:
# now fill values  of Reporting Area with the help of District

reporting_map = (
    df.dropna(subset=["DISTRICT", "REPORTING_AREA"])
      .groupby("DISTRICT")["REPORTING_AREA"]
      .agg(lambda x: x.mode()[0])
)


mask = (
    df["REPORTING_AREA"].isna() &
    df["DISTRICT"].notna()
)

df.loc[mask, "REPORTING_AREA"] = df.loc[mask, "DISTRICT"].map(reporting_map)

In [119]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1006
REPORTING_AREA         1006
OCCURRED_ON_DATE          0
STREET                10407
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [120]:
street_map = (
    df.dropna(subset=["REPORTING_AREA","STREET"])
      .groupby("REPORTING_AREA")["STREET"]
      .agg(lambda x: x.mode()[0])
)
mask = df["STREET"].isna() & df["REPORTING_AREA"].notna()

df.loc[mask, "STREET"] = df.loc[mask, "REPORTING_AREA"].map(street_map)

In [121]:
df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_CODE_GROUP        0
DISTRICT               1006
REPORTING_AREA         1006
OCCURRED_ON_DATE          0
STREET                  868
Lat                   19359
Long                  19359
NAME                      0
dtype: int64

In [122]:
street_coords = (
    df.dropna(subset=["STREET","Lat","Long"])
      .groupby("STREET")[["Lat","Long"]]
      .median()
)

df = df.join(street_coords, on="STREET", rsuffix="_fill")

mask = df["Lat"].isna() & df["Long"].isna()

df.loc[mask, "Lat"] = df.loc[mask, "Lat_fill"]
df.loc[mask, "Long"] = df.loc[mask, "Long_fill"]

df.drop(columns=["Lat_fill","Long_fill"], inplace=True)

In [123]:
df.isna().sum()

INCIDENT_NUMBER          0
OFFENSE_CODE             0
OFFENSE_CODE_GROUP       0
DISTRICT              1006
REPORTING_AREA        1006
OCCURRED_ON_DATE         0
STREET                 868
Lat                    928
Long                   928
NAME                     0
dtype: int64

In [124]:
df.isna().any(axis=1).sum()

1747

In [125]:
df.shape

(313605, 10)

In [126]:
df.loc[
    (df["Lat"] == -1) | (df["Long"] == -1),
    ["Lat","Long"]
] = np.nan

In [127]:
df[["Lat","Long"]].describe()

                 Lat           Long
count  311813.000000  311813.000000
mean       42.322521     -71.082749
std         0.031788       0.029404
min        42.232413     -71.178674
25%        42.297555     -71.096592
50%        42.326398     -71.077683
75%        42.348774     -71.062567
max        42.395042     -70.963676

In [128]:
((df["Lat"] == -1) & (df["Long"] == -1)).sum()

0

In [129]:
df.isna().sum()

INCIDENT_NUMBER          0
OFFENSE_CODE             0
OFFENSE_CODE_GROUP       0
DISTRICT              1006
REPORTING_AREA        1006
OCCURRED_ON_DATE         0
STREET                 868
Lat                   1792
Long                  1792
NAME                     0
dtype: int64

In [130]:
df.dropna(inplace=True)

In [131]:
df.to_csv("crime_cleaned.csv", index=False)

In [132]:
df.isna().sum()

INCIDENT_NUMBER       0
OFFENSE_CODE          0
OFFENSE_CODE_GROUP    0
DISTRICT              0
REPORTING_AREA        0
OCCURRED_ON_DATE      0
STREET                0
Lat                   0
Long                  0
NAME                  0
dtype: int64